@model IEnumerable<Clinica.Models.Usuario>

@{
    ViewBag.Title = "Lista de Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Citas</h2>

<p>
    @Html.ActionLink("Agregar Cita", "Agendar Cita")
    @Html.ActionLink("Eliminar mi cuenta", "EliminarUsuario", "Usuario")

</p>
   
<p>
    @Html.ActionLink("Eliminar mi cuenta", "EliminarUsuario", "Usuario")
</p>
</table>
